pandas==3.0.1
numpy==2.0.2
requests==2.33.0
matplotlib==3.9.4
PyYAML==6.0.3
lightgbm==4.6.0
scikit-learn==1.6.1
scipy==1.17.1
joblib==1.5.3
google-cloud-storage==3.10.1
google-cloud-firestore==2.26.0
